.homepage {
  display: flex;
  flex-direction: row;
  background-image: url("/188.jpg");
	background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.side_bar {
  background-color:#fed9b7 ;
  height: 100vh;
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: inherit;
  overflow: hidden;
  box-shadow: 8px 0 15px -5px rgba(0, 0, 0, 0.1);
}

.side_bar::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.621);
  filter: blur(40px);
  z-index: -1;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  /* 添加 box-shadow 到过渡效果 */
}

.user_avatar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 5px rgba(138, 43, 226, 0.7);  /* 紫色晕染效果 */
}

.no_chatbot_message {
  text-shadow: 0 0 8px rgba(138, 43, 226, 0.8) !important; /* 紫色荧光文字阴影 */
  color: rgba(138, 43, 226, 0.7) !important; /* 亮色字体增强对比度 */
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;    /* Centers content horizontally */
  text-align: center;     /* Centers text inside the child elements */
  margin:auto;
}



/* .offcanvas_side_bar {
  background-color: #020617;
  color: #fff !important;
  padding: 0 !important;
  width: 16rem !important;
} */



/* .bobu_logo_wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
} */

.btn_logout {
  background-color:  #f5f5f500  !important;
  border: none !important;
  border-radius: 1rem !important;
  transition: transform 0.3s ease, background-image 0.3s ease;

}
.btn_logout:hover {
  transform: scale(1.5);
}

.chatbot_list_container {
  height: 700px;
  overflow-y: auto;
  width: 100%;
  position: relative;  
  padding: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, newer versions of Edge */
  }

  /* 调整创建的模糊遮罩 */
  mask-image: linear-gradient(
    to bottom,
    transparent 0%, 
    black 5%,  
    black 95%, 
    transparent 100%
  );
}





/* .bobu_logo {
  width: 100%;
  height: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

/* .bobu_logo svg {
  width: 3rem;
  height: 3rem;
} */

/* .side_bar_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;
} */

.btn_new_chat {
  background-color: rgba(137, 43, 226, 0.321) ;
  border: none ;
  border-radius: 1rem;
  /* margin: 1rem; */
  margin-bottom: 50px;
  width: 100%;
}

.btn_new_chat:active {
  background-color:rgba(137, 43, 226, 0.695) !important;
}

.btn_new_chat:hover {
  background-color:rgba(137, 43, 226, 0.695);
}


.chatbot_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatbot_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  
}

.chatbot_entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chatbot_entry:hover {
  background-color:rgba(137, 43, 226, 0.321);
  border-radius: 1.6rem ;
}

.chatbot_entry.active {
  background-color:rgba(137, 43, 226, 0.321) !important;
  border-radius: 1rem !important;
  border-radius: 1.6rem !important;

}

/* .chat_history {
  overflow-y: auto;
  padding: 0;
  margin: 3rem;
  height: 100%;
  list-style: none;
} */





.delete_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
  background-image: url('/loveYou.png'); 
  background-size: cover;
  filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(5589%) hue-rotate(302deg) brightness(103%) contrast(102%); 
  opacity: 0.7;  
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.delete_icon:hover {
  transform: scale(1.5);
  background-image: url('/breakUP.png'); 
}






/* .btn_empty_history {
  margin-top: 10px;
  background-color:  #fb6f92a6 ;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.btn_empty_history:hover {
  background-color:#fb6f92 ;
} */






.main {
  height: 100vh;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin:auto;
}



.text_feed {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);

}

.text_feed::-webkit-scrollbar {
  display: none;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px; /* 设置头像和消息之间的间隔 */
  margin-bottom: 30px;
  margin-left: 10px;
}

.messageContent {
  padding: 0.5rem;
  border-radius: 10px;
  word-wrap: break-word;
}

.userMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  /* flex-direction: row-reverse; */
}

.chatbotMessage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userMessage .messageContent {
  background-color: rgba(64, 228, 253, 0.6); /* Light green background for user messages */
  margin-bottom: 30px;
  text-align: right;
  /* width: 50%; */
}

.chatbotMessage .messageContent {
  background-color: #fb6f9296; /* Light grey background for assistant messages */
  margin-bottom: 30px;
  text-align: left;
  /* width: 70%; */
}



/* .text_feed {
  overflow-y: auto;
  width: 100%;
  padding: 0;
  max-width: 50rem;
}

.text_feed li {
  background-color: var(--gray-800);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;

  width: 100%;
  margin: 1rem 0;

  border-radius: 1rem;
}

.text_feed span {
  font-size: 1rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem;
}

.text_feed span.feed_role {
  color: var(--slate-400);
  max-width: 8rem !important;
}

.info {
  font-size: 0.8rem;
  padding: 1rem;
} */

.bottom_wrapper {
  width: 100%;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_wrapper {
  position: relative;
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem;
  margin-bottom: 40px;

  /* box-shadow: 0rem 1rem 3rem var(--gray-950); */
}

/* !importat is needed to override Bootstrap's css */
.input_field {
  /* width: 80%; */
  background-color: rgba(64, 228, 253, 0.6) !important;
  color: var(--white) !important;
  border: none !important;
  border-radius: 1rem !important;
}

.input_field:focus {
  box-shadow: none !important;
}

.btn_submit {
  background-color: rgba(64, 228, 253, 0);
  color: var(--white);

  border: none;
  border-radius: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;

  height: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-image 0.3s ease;

}

.btn_submit:hover {
  /* background-color: #a2d2ff; */
  transform: scale(1.5);
}

.side_bar_user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 0;
}
.side_bar_user_name {
  /* color: var(--white); */
  text-align: justify;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.5rem;
  font-weight: 700;
}



/* .btn_toggle_menu {
  background-color: #1f2937 !important;
  border: none !important;
  border-radius: 1rem !important;
}
.btn_toggle_menu:hover {
  background-color: #374151 !important;
}
.feed_role img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
} */







.no_chatbot_message {
  text-shadow: 0 0 8px rgba(138, 43, 226, 0.8); /* 紫色荧光文字阴影 */
  color: white; /* 亮色字体增强对比度 */
}
