.homepage {
  /* background-color: var(--gray-900); */
  display: flex;
  flex-direction: row;
  background-image: url("/15.gif");
	background-size: cover; /* 背景图填满容器 */
  background-repeat: no-repeat; /* 背景图不重复 */
  background-position: center; /* 背景图居中 */
}

.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.user_avatar:hover {
  transform: scale(1.1);
}

.side_bar {
  /* display: flex;
  flex-direction: column;
  padding: 20px; */
  /* height: 100%; Ensures the sidebar takes full vertical space */
  /* justify-content: flex-start; Aligns items to the top */

  background-color:#fed9b7 ;
  height: 100vh;
  width: 20rem;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: inherit;
  /* border-radius: 18px; */
  overflow: hidden;
  box-shadow: 8px 0 15px -5px rgba(0, 0, 0, 0.1);
}

.side_bar::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.685);
  filter: blur(40px);
  z-index: -1;
}









.no_chatbot_message {
  /* background-color:#fed9b7 ;
  height: 10vh;
  width: 2rem;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* padding: 40px;
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: inherit; */
  /* border-radius: 18px; */
  /* overflow: hidden; */
  /* box-shadow: 8px 0 15px -5px rgba(0, 0, 0, 0.1); */ 
}
.no_chatbot_message::before {
  /* content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.685);
  filter: blur(40px);
  z-index: -1; */
}

.offcanvas_side_bar {
  background-color: #0c2dbf;
  color: #fff !important;
  padding: 0 !important;
  width: 16rem !important;
}

.main {
  height: 100vh;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin:auto;
}

.bobu_logo_wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
}

.bobu_logo {
  width: 100%;
  height: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bobu_logo svg {
  width: 3rem;
  height: 3rem;
}

.side_bar_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;
}

.btn_new_chat {
  background-color: #111827 !important;
  border: none !important;
  border-radius: 1rem !important;

  margin: 1rem;
}

.btn_new_chat:hover {
  background-color: #374151 !important;
}

.chatbot_entry:hover {
  background-color: #374151 !important;
  border-radius: 1rem !important;

}

.chat_history {
  overflow-y: auto;

  padding: 0;
  margin: 1rem;
  height: 100%;

  list-style: none;
}

.chat_history li {
  /* background-color: var(--gray-900); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  border-radius: 1rem;

  height: 100%;
  max-height: 2rem;

  padding: 0.3rem 1rem;
  margin-bottom: 0.5rem;

  font-size: 1.1rem;
  text-overflow: ellipsis !important;
  cursor: pointer;
}

.chat_history li:hover,
.chat_history li.active {
  background-color: #1f2937;
}

.chat_history span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: flex-start;
}

.footer_github {
  margin-top: auto; /* Pushes the footer to the bottom */
  text-align: center;
  padding-top: 20px;
}

.footer_github svg {
  margin-right: 0.5rem;
}

.footer_github a {
  text-decoration: none;
  color: var(--gray-400);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer_github a:hover {
  color: var(--gray-300);
}

.btn_empty_history {
  background-color: #c00c0c !important;
  border: none !important;
  border-radius: 1rem !important;
}

.btn_empty_history:hover {
  background-color: #374151 !important;
}
/* 
.text_feed {
  overflow-y: auto;
  width: 100%;
  padding: 0;
  max-width: 50rem;
} */
.text_feed {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text_feed::-webkit-scrollbar {
  display: none;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px; /* 设置头像和消息之间的间隔 */
  margin-bottom: 30px;
  margin-left: 10px;
}

.messageContent {
  padding: 0.5rem;
  border-radius: 10px;
  word-wrap: break-word;
}

.userMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  /* flex-direction: row-reverse; */
}

.chatbotMessage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userMessage .messageContent {
  background-color: #68d614; /* Light green background for user messages */
  margin-bottom: 30px;
  text-align: right;
  /* width: 50%; */
}

.chatbotMessage .messageContent {
  background-color: #951313; /* Light grey background for assistant messages */
  margin-bottom: 30px;
  text-align: left;
  /* width: 70%; */
}


/* .text_feed li {
  background-color: var(--gray-800);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;

  width: 100%;
  margin: 1rem 0;

  border-radius: 1rem;
} */

/* .text_feed span {
  font-size: 1rem;
  text-align: left;
  width: 100%;

  padding: 0.5rem 1rem;
} */

/* .text_feed span.feed_role {
  color: var(--slate-400);
  max-width: 8rem !important;
} */

/* .info {
  font-size: 0.8rem;
  padding: 1rem;
} */


.bottom_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_wrapper {
  position: relative;
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem;

  box-shadow: 0rem 1rem 3rem var(--gray-950);
}

/* !importat is needed to override Bootstrap's css */
.input_field {
  background-color: #bde0fe !important;
  color: var(--white) !important;
  border: none !important;
  border-radius: 1rem !important;
}

.input_field:focus {
  box-shadow: none !important;
}

.btn_submit {
  background-color: #bde0fe;
  color: var(--white);

  border: none;
  border-radius: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;

  height: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_submit:hover {
  background-color: #a2d2ff;
}

.side_bar_user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 0;
}
.side_bar_user_name {
  color: var(--white);
  text-align: justify;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0.5rem;
}

.btn_logout {
  background-color: #1f2937 !important;
  border: none !important;
  border-radius: 1rem !important;
}
.btn_logout:hover {
  background-color: #374151 !important;
}

.btn_toggle_menu {
  background-color: #1f2937 !important;
  border: none !important;
  border-radius: 1rem !important;
}
.btn_toggle_menu:hover {
  background-color: #374151 !important;
}
.feed_role img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.chatbot_entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chatbot_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatbot_info {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; */
  
}

.delete_icon {
  cursor: pointer;
  color: red; /* Optional styling for the delete icon */
}

.no_chatbot_message {
  font-size: 24px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}